**Animate a Scatterplot**

In this exercise we will reproduce Hans Roslings famous animation. We will proceed in four steps:

- Load the data to multiple DataFrames

- Merge the DataFrames into one

- Generate one scatterplot for each year.

- Connect the images to an animated GIF.

**Step 1**

Load the file data/gapminder_total_fertility.csv into pandas.

In [5]:
import pandas as pd

fert = pd.read_csv('/Users/JoseMontero/Desktop/gapminder_total_fertility.csv', index_col=0)

fert

,1800,1801,1802,1803,1804,1805,1806,1807,1808,1809,...,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015
Total fertility rate,,,,,,,,,,,,,,,,,,,,,
Abkhazia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Afghanistan,7.00,7.00,7.00,7.00,7.00,7.00,7.00,7.00,7.00,7.00,...,6.70,6.46,6.20,5.93,5.66,5.40,5.14,4.90,4.68,4.47
Akrotiri and Dhekelia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Albania,4.60,4.60,4.60,4.60,4.60,4.60,4.60,4.60,4.60,4.60,...,1.85,1.80,1.76,1.74,1.74,1.75,1.76,1.77,1.78,1.78
Algeria,6.99,6.99,6.99,6.99,6.99,6.99,6.99,6.99,6.99,6.99,...,2.58,2.66,2.73,2.78,2.82,2.83,2.82,2.80,2.76,2.71
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Yugoslavia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Zambia,6.71,6.71,6.71,6.71,6.71,6.71,6.71,6.71,6.71,6.71,...,5.93,5.91,5.88,5.85,5.81,5.77,5.73,5.69,5.64,5.59
Zimbabwe,6.75,6.75,6.75,6.75,6.75,6.75,6.75,6.75,6.75,6.75,...,3.94,3.90,3.85,3.79,3.72,3.64,3.56,3.49,3.41,3.35
Ã…land,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Ã…land,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

/Users/JoseMontero/Desktop/GitHub/allspice-arrays-code/Week_01

**Step 2**

Proceed in the same way with the file data/gapminder_lifeexpectancy.xlsx. Save it in a DataFrame with the name life.

You need the function `pd.read_excel`.

In [6]:
life = pd.read_excel('/Users/JoseMontero/Desktop/gapminder_lifeexpectancy.xlsx', index_col=0)

life

,1800,1801,1802,1803,1804,1805,1806,1807,1808,1809,...,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016
Life expectancy,,,,,,,,,,,,,,,,,,,,,
Abkhazia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Afghanistan,28.21,28.20,28.19,28.18,28.17,28.16,28.15,28.14,28.13,28.12,...,52.4,52.8,53.3,53.6,54.0,54.4,54.8,54.9,53.8,52.72
Akrotiri and Dhekelia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Albania,35.40,35.40,35.40,35.40,35.40,35.40,35.40,35.40,35.40,35.40,...,76.6,76.8,77.0,77.2,77.4,77.5,77.7,77.9,78.0,78.10
Algeria,28.82,28.82,28.82,28.82,28.82,28.82,28.82,28.82,28.82,28.82,...,75.3,75.5,75.7,76.0,76.1,76.2,76.3,76.3,76.4,76.50
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Yugoslavia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Zambia,32.60,32.60,32.60,32.60,32.60,32.60,32.60,32.60,32.60,32.60,...,49.0,51.1,52.3,53.1,53.7,54.7,55.6,56.3,56.7,57.10
Zimbabwe,33.70,33.70,33.70,33.70,33.70,33.70,33.70,33.70,33.70,33.70,...,46.4,47.3,48.0,49.1,51.6,54.2,55.7,57.0,59.3,61.69
Ã…land,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
South Sudan,26.67,26.67,26.67,26.67,26.67,26.67,26.67,26.67,26.67,26.67,...,55.5,55.6,55.8,56.0,55.9,56.0,56.0,56.1,56.1,56.10

***Adding also population***

In [7]:
popu = pd.read_excel('/Users/JoseMontero/Desktop/gapminder_population.xlsx', index_col=0)
popu

,1800,1810,1820,1830,1840,1850,1860,1870,1880,1890,...,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015
Total population,,,,,,,,,,,,,,,,,,,,,
Abkhazia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Afghanistan,3280000.0,3280000.0,3323519.0,3448982.0,3625022.0,3810047.0,3973968.0,4169690.0,4419695.0,4710171.0,...,25183615.0,25877544.0,26528741.0,27207291.0,27962207.0,28809167.0,29726803.0,30682500.0,31627506.0,32526562.0
Akrotiri and Dhekelia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,15700.0,15700.0,15700.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Albania,410445.0,423591.0,438671.0,457234.0,478227.0,506889.0,552800.0,610036.0,672544.0,741688.0,...,3050741.0,3010849.0,2968026.0,2929886.0,2901883.0,2886010.0,2880667.0,2883281.0,2889676.0,2896679.0
Algeria,2503218.0,2595056.0,2713079.0,2880355.0,3082721.0,3299305.0,3536468.0,3811028.0,4143163.0,4525691.0,...,33749328.0,34261971.0,34811059.0,35401790.0,36036159.0,36717132.0,37439427.0,38186135.0,38934334.0,39666519.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Northern Marianas,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
South Georgia and the South Sandwich Islands,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
US Minor Outlying Islands,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Virgin Islands,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
West Bank,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

**Step 3**

Check whether both tables have the same size and shape. If they donâ€™t, it is not a problem. It is just good practice to check.

In [8]:
print(fert.shape)
print(life.shape)
print(popu.shape)

(260, 216)
(260, 217)
(275, 81)

**Step 4**

Take a look at the columns of both tables:

In [9]:
fert.columns

Index(['1800', '1801', '1802', '1803', '1804', '1805', '1806', '1807', '1808',
       '1809',
       ...
       '2006', '2007', '2008', '2009', '2010', '2011', '2012', '2013', '2014',
       '2015'],
      dtype='object', length=216)

In [10]:
life.columns

Int64Index([1800, 1801, 1802, 1803, 1804, 1805, 1806, 1807, 1808, 1809,
            ...
            2007, 2008, 2009, 2010, 2011, 2012, 2013, 2014, 2015, 2016],
           dtype='int64', length=217)

In [11]:
popu.columns

Int64Index([1800, 1810, 1820, 1830, 1840, 1850, 1860, 1870, 1880, 1890, 1900,
            1910, 1920, 1930, 1940, 1950, 1951, 1952, 1953, 1954, 1955, 1956,
            1957, 1958, 1959, 1960, 1961, 1962, 1963, 1964, 1965, 1966, 1967,
            1968, 1969, 1970, 1971, 1972, 1973, 1974, 1975, 1976, 1977, 1978,
            1979, 1980, 1981, 1982, 1983, 1984, 1985, 1986, 1987, 1988, 1989,
            1990, 1991, 1992, 1993, 1994, 1995, 1996, 1997, 1998, 1999, 2000,
            2001, 2002, 2003, 2004, 2005, 2006, 2007, 2008, 2009, 2010, 2011,
            2012, 2013, 2014, 2015],
           dtype='int64')

One table has columns as strings, the other has integer numbers. To merge the tables, we need to convert both into the same format. First, we create a list of years as integers and use this list as the new columns.

Check with fert.columns whether the transformation was successful.

In [12]:
ncol = [int(x) for x in fert.columns]

fert.set_axis(axis=1, labels=ncol, inplace=True)

fert.columns

Int64Index([1800, 1801, 1802, 1803, 1804, 1805, 1806, 1807, 1808, 1809,
            ...
            2006, 2007, 2008, 2009, 2010, 2011, 2012, 2013, 2014, 2015],
           dtype='int64', length=216)

**Step 5**

To obtain nice column names, you can also create a hierarchical index. For that, we convert both tables to the long format.

The variables sfert and slife now have the type pd.Series. Multiple Series can be converted to a pd.DataFrame, using a dictionary with the values:

In [15]:
sfert = fert.stack()
slife = life.stack()
spopu = popu.stack()

d = {'fertility': sfert, 'life_exp': slife, 'population': spopu}
df2 = pd.DataFrame(data=d)

df2

                  fertility  life_exp  population
Afghanistan 1800        7.0     28.21   3280000.0
            1801        7.0     28.20         NaN
            1802        7.0     28.19         NaN
            1803        7.0     28.18         NaN
            1804        7.0     28.17         NaN
...                     ...       ...         ...
Ã…land       2006        NaN     80.10     26923.0
            2007        NaN       NaN     26923.0
            2008        NaN       NaN     26923.0
            2009        NaN       NaN     26923.0
            2010        NaN       NaN     26923.0

[47688 rows x 3 columns]

**Step 6**

Repeat the steps above to add data from the file data/gapminder_population.xlsx.

popu= pd.read_excel('/Users/JoseMontero/Desktop/gapminder_population.xlsx', index_col=0)

popu

**Step 7**

The huge DataFrame is easier to convert to the right format, if we first interpret all indices (rows and columns) as row indices:

    df3 = df2.stack()

Finally we can convert the long table back to a wide one. For that we create new columns from the 1st and 3rd level of the index (the country names and attributes):

    df4 = df3.unstack((0,2))

The zero stands for the first element of an index. With the value 1 all year numbers would end up as columns.

Now df4 is a table, with years on the left side and life expectancy and fertility for a ll countries on top.

In [16]:
df3 = df2.stack()
df3

Afghanistan  1800  fertility           7.00
                   life_exp           28.21
                   population    3280000.00
             1801  fertility           7.00
                   life_exp           28.20
                                    ...
Ã…land        2006  population      26923.00
             2007  population      26923.00
             2008  population      26923.00
             2009  population      26923.00
             2010  population      26923.00
Length: 107445, dtype: float64

In [17]:
df4 = df3.unstack(0,2)
df4

                 Afghanistan  Akrotiri and Dhekelia     Albania      Algeria  \
1800 fertility          7.00                    2.0        4.60         6.99
     life_exp          28.21                    2.0       35.40        28.82
     population   3280000.00                    2.0   410445.00   2503218.00
1801 fertility          7.00                    2.0        4.60         6.99
     life_exp          28.20                    2.0       35.40        28.82
...                      ...                    ...         ...          ...
2014 population  31627506.00                    2.0  2889676.00  38934334.00
2015 fertility          4.47                    2.0        1.78         2.71
     life_exp          53.80                    2.0       78.00        76.40
     population  32526562.00                    2.0  2896679.00  39666519.00
2016 life_exp          52.72                    2.0       78.10        76.50

                 American Samoa  Andorra       Angola  Anguilla  \
1800 fertility              2.0      2.0         6.93       2.0
     life_exp               2.0      2.0        26.98       2.0
     population          8170.0   2654.0   1567028.00    2025.0
1801 fertility              2.0      2.0         6.93       2.0
     life_exp               2.0      2.0        26.98       2.0
...                         ...      ...          ...       ...
2014 population         55434.0  72786.0  24227524.00   14460.0
2015 fertility              2.0      2.0         5.65       2.0
     life_exp              72.9     84.8        59.60       2.0
     population         55538.0  70473.0  25021974.00   14614.0
2016 life_exp              73.0     84.8        60.00       2.0

                 Antigua and Barbuda    Argentina  ...  Virgin Islands (U.S.)  \
1800 fertility                  5.00         6.80  ...                   5.55
     life_exp                  33.54        33.20  ...                  33.40
     population             37000.00    534000.00  ...               40000.00
1801 fertility                  5.00         6.80  ...                   5.55
     life_exp                  33.54        33.20  ...                  33.40
...                              ...          ...  ...                    ...
2014 population             90900.00  42980026.00  ...              106208.00
2015 fertility                  2.06         2.15  ...                   2.45
     life_exp                  76.40        76.50  ...                  80.60
     population             91818.00  43416755.00  ...              106291.00
2016 life_exp                  76.50        76.70  ...                  80.82

                 Wallis et Futuna  West Bank and Gaza  West Germany  \
1800 fertility                2.0                6.97           2.0
     life_exp                 2.0               32.10           2.0
     population            3721.0           165944.00           2.0
1801 fertility                2.0                6.97           2.0
     life_exp                 2.0               32.10           2.0
...                           ...                 ...           ...
2014 population           13204.0          4542059.00           2.0
2015 fertility                2.0                3.88           2.0
     life_exp                 2.0               74.60           2.0
     population           13151.0          4668466.00           2.0
2016 life_exp                 2.0               74.70           2.0

                 Western Sahara        Yemen  Yugoslavia       Zambia  \
1800 fertility             6.32         6.88         2.0         6.71
     life_exp             34.75        23.39         2.0        32.60
     population         2788.00   2593000.00         2.0    747000.00
1801 fertility             6.32         6.88         2.0         6.71
     life_exp             34.75        23.39         2.0        32.60
...                         ...          ...         ...          ...
2014 population       561034.00  26183676.00         2.0  15721343.00
2015 fertility             2.30         3.83         2.0         5.59
     life_exp             68.30        66.00         2.0        56.70
     population       572540.00  26832215.00         2.0  16211767.00
2016 life_exp             68.56        64.92         2.0        57.10

                    Zimbabwe  Ã…land
1800 fertility          6.75    2.0
     life_exp          33.70    2.0
     population   1085814.00    2.0
1801 fertility          6.75    2.0
     life_exp          33.70    2.0
...                      ...    ...
2014 population  15245855.00    2.0
2015 fertility          3.35    2.0
     life_exp          59.30    2.0
     population  15602751.00    2.0
2016 life_exp          61.69    2.0

[514 rows x 256 columns]

**Step 8**

Now you can select specific columns and plot them:

    import pylab as plt
    df4[['Germany', 'France', 'Sweden']].plot()

To create a scatterplot, we extract the columns to plot from df3:

    df5 = df3.unstack(2)
    df5.plot.scatter('fertility', 'lifeexp', s=0.1)

Using stack and unstack you can also select a year. That makes the plot easier to read:

    df6 = df3.unstack(1)
    df6 = df6[1950]
    df6 = df6.unstack(1)
    df6.plot.scatter('fertility', 'lifeexp', s=0.1)

In [ ]:
import pylab as plt
df4[['Germany', 'Spain', 'China', 'Chile']].plot()

In [ ]:
df5 = df3.unstack(2)
df5.plot.scatter('fertility', 'lifeexp', s=0.1, figsize=(12, 8))

In [ ]:
df6 = df3.unstack(1)
df6 = df6[1950]
df6 = df6.unstack(1)
df6.plot.scatter('fertility', 'lifeexp', s=0.1, figsize=(12, 8))

**Step 9**

Now we can improve our graphics, e.g. color each country differently:

    cmap = plt.get_cmap('tab20', lut = len(df6)).colors
    df6.plot.scatter('fertility', 'lifeexp', s=0.1, c=cmap)

Hint* The lut parameter allows you to control the length of the color array (which by default is 20), and in the above code we ensure that it is same length as the index of our dataframe.

or use a third column with the size of the dots:

    df6.plot.scatter('fertility', 'lifeexp', s=df6['population'])

In [ ]:
cmap = plt.get_cmap('tab20', lut = len(df6)).colors
df6.plot.scatter('fertility', 'lifeexp', s=12, c=cmap, figsize=(12, 8))

In [ ]:
#df6.plot.scatter('fertility', 'lifeexp', s=df6['population'])

plot = df6.plot.scatter('fertility', 'lifeexp', s=df6['population']/100_000, figsize=(12, 8), c=cmap)

**Step 10**

To create an animated scatterplot showing the correlation between life expectancy and fertility, create one plot for each year between 1960 and 2015 (before that, the data contains too many gaps).

Save each scatterplot to a separate file containing the year in the filename, e.g. lifeexp_1999.png .

Hint* Use the function plt.axis((a,b,c,d)) to fix the coordinates of the plot.

startyear = 1950
endyear=2015
for year in np.arange(startyear,endyear,1):
    #year = 1960
    gdf = newdf[newdf['Year']==year]
    maxx = newdf['MortalityRatePer1000Births'].max()+10
    maxy = newdf['BirthRatePer1000Population'].max()+10
    clist ={"Afghanistan":'black','Bangladesh':'orange','China':'red','India':'blue','Nepal':'purple','Pakistan':'green','Sri Lanka':'brown'}
    bubble_linecolor = 'None'
    legend_labels=[]
    legend_lines=[]
    
    fig = plt.figure()
    ax = plt.axes()
    ax.set_title("Mortality Vs Birth Rate per 1000 People: " + str(year), fontsize=16)
    ax.set_xlabel("Mortality Rate", fontsize=14)
    ax.set_ylabel("Birth Rate", fontsize=14)
    for key in clist:
        #bubblesize=12
        bubblesize = 12 + (gdf.loc[gdf['Country']==key,'Population'].max()/100)
        #bubble_linecolor = clist[key]
        bubble_linecolor = 'skyblue'
        cline, =plt.plot('MortalityRatePer1000Births', 'BirthRatePer1000Population', data=gdf[gdf['Country']==key], marker='o', markerfacecolor=clist[key], markersize=bubblesize, color=bubble_linecolor, linewidth=4)
        legend_labels.append(key)
        legend_lines.append(cline)

    plt.xlim(0, maxx)
    plt.ylim(0, maxy);
    plt.legend(handles=legend_lines, labels=legend_labels,bbox_to_anchor=(1.04,0.5), loc="center left", borderaxespad=0)
    
    fig.savefig('./savedfigures/' + str(year) + '.png', bbox_inches = "tight")
    plt.close('all')

In [ ]:
startyear = 1960
endyear = 2015
for year in np.arrange(startyear, endyear, 1):

In [ ]:
fig = plot.get_figure()

In [ ]:
fig.savefig("image.png")

In [ ]:
for i in range(1960, 2016):
    df6 = df6[i]
    df6 = df6.unstack(1)
    plot = df6.plot.scatter('fertility', 'lifeexp', s=df6['population']/100000, figsize=(12, 8), c=cmap)
    fig = plot.get_figure()
    fig.savefig(i + '.png')

**Step 11**

Adjust the plot, so that the size of the symbols represents the population from the gapminder dataset.

**Step 12**

Install the Python module imageio, by typing in the terminal:

    pip install imageio

Adjust the following code example and execute it:

    import imageio

    images = []
    for i in range(0, 100):
        filename = 'lifeexp_{}.png'.format(i)
        images.append(imageio.imread(filename))

    imageio.mimsave('output.gif', images, fps=20)